body {
    background-color: #EFEFEF;
}

div.main {
    margin: 30px;
    background-color: white;
}

button.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 40px;
}

.media-body {
    padding-top: 10px;
}

.text-desc {
    font-size: 12px;
    font-weight:normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}

.question-title {
    margin-top: 25px;
}

.menu {
    color: #999;
    font-size: 13px;
    display: block;
    margin-bottom: 15px;
}

.jumbotron {
    margin: 50px;
}

.comment {
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment-list > .media {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

hr.comment-sp {
    margin-top: 0;
}

.reply-menu {
    color: #999;
    margin-top: 5px;
}

.reply-menu .reply-icon {
    margin-right: 5px;
    font-size: 15px;
    cursor: pointer;
}

.reply-menu .reply-icon:hover {
    color: #499ef3;
}