<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${question.title}"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/editormd/css/editormd.preview.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script type="application/javascript" src="/js/bootstrap.min.js"></script>
    <script src="/js/community.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/editormd/editormd.min.js"></script>
    <script src="/editormd/lib/marked.min.js"></script>
    <script src="/editormd/lib/prettify.min.js"></script>
</head>
<body>

<div th:insert="navigation :: nav"></div>

<div class="container-fluid main profile">
    <div class="row">
        <!-- 主页面 -->
        <div class="col-lg-9 col-md-12">
            <!-- 描述信息 -->
            <div class="col-lg-12">
                <!-- 标题 -->
                <h4 class="question-title"><span th:text="${question.title}"></span></h4>
                <!-- 信息 -->
                <span class="text-desc">
                作者: <span th:text="${question.user.name}"></span>
                | 发布时间: <span th:text="${#dates.format(question.gmtCreated, 'yyyy-MM-dd HH:mm')}"></span>
                | 阅读数: <span th:text="${question.viewCount}"></span>
                </span>
                <hr class="col-lg-12">
                <div class="col-lg-12">
                    <ul class="question-related">
                        <h4>页眉广告</h4>
                        <li th:if="${session.adPosMap.HEADER!=null && #lists.size(session.adPosMap.HEADER)!=0}"
                            th:each="ad : ${session.adPosMap.HEADER}">
                            <a th:href="${ad.url}" th:text="${ad.title}" target="_blank"></a>
                        </li>
                        <li th:if="${session.adPosMap.HEADER==null || #lists.size(session.adPosMap.HEADER)==0}">
                            <a href="" target="_blank">Google AdSense</a>
                        </li>
                    </ul>
                </div>
                <hr class="col-lg-12">
                <!-- 内容 -->
                <div class="col-lg-12" id="question-view">
                    <textarea style="display: none;" th:text="${question.description}"></textarea>
                </div>
                <script type="text/javascript">
                    $(function() {
                        var testView = editormd.markdownToHTML("question-view", {
                            // markdown : "[TOC]\n### Hello world!\n## Heading 2", // Also, you can dynamic set Markdown text
                            // htmlDecode : true,  // Enable / disable HTML tag encode.
                            // htmlDecode : "style,script,iframe",  // Note: If enabled, you should filter some dangerous HTML tags for website security.
                        });
                    });
                </script>
                <hr class="col-lg-12">
                <!--标签-->
                <div class="col-lg-12">
                    <span class="label label-info question-tag" th:each="questionTag : ${question.tag.split(',')}">
                        <span class="glyphicon glyphicon-tags"></span>
                        <span th:text="${questionTag}"></span>
                    </span>
                </div>
                <!-- 选项 -->
                <div class="col-lg-12" th:if="${session.user != null && question.user.id == session.user.id}">
                    <hr class="col-lg-12">
                    <a th:href="@{'/publish/' + ${question.id}}" class="menu">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 编辑
                    </a>
                </div>
                <hr class="col-lg-12">
                <div class="col-lg-12">
                    <ul class="question-related">
                        <h4>页尾广告</h4>
                        <li th:if="${session.adPosMap.FOOTER!=null && #lists.size(session.adPosMap.FOOTER)!=0}"
                            th:each="ad : ${session.adPosMap.FOOTER}">
                            <a th:href="${ad.url}" th:text="${ad.title}" target="_blank"></a>
                        </li>
                        <li th:if="${session.adPosMap.FOOTER==null || #lists.size(session.adPosMap.FOOTER)==0}">
                            <a href="" target="_blank">Google AdSense</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="col-lg-12">
            <div class="col-lg-12">
                <!--回复列表-->
                <h4><span th:text="${question.commentCount}"></span> 个回复</h4>
                <hr class="col-lg-12 comment-sp">
                <div class="col-lg-12 comment-list">
                    <div class="media" th:each="comment : ${comments}">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded" th:src="${comment.user.avatarUrl}" src="https://avatars.githubusercontent.com/u/56257333?s=400&v=4" alt="avatar">
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <span th:text="${comment.user.name}"></span>
                            </h5>
                            <!-- 回复内容 -->
                            <div th:text="${comment.content}">回复内容</div>
                            <div class="reply-menu">
                                <span class="glyphicon glyphicon-thumbs-up reply-icon"></span>
                                <span class="reply-icon" th:data-id="${comment.id}"
                                      onclick="collapseInComments(this)" data-collapse="">
                                    <span class="glyphicon glyphicon-comment"></span>
                                    <span th:text="${comment.commentCount}"></span>
                                </span>
                                <span class="pull-right" th:text="${#dates.format(comment.gmtCreate, 'yyyy-MM-dd HH:mm')}"></span>
                            </div>
                            <!--二级回复列表-->
                            <div class="col-lg-12 collapse comment-list sub-comment-list" th:id="${'comment-'+comment.id}">
                                    <!--<div class="media" th:each="comment : ${comments}">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object img-rounded" th:src="${comment.user.avatarUrl}" src="https://avatars.githubusercontent.com/u/56257333?s=400&v=4" alt="avatar">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <span th:text="${comment.user.name}"></span>
                                            </h5>
                                            &lt;!&ndash; 回复内容 &ndash;&gt;
                                            <div th:text="${comment.content}">回复内容</div>
                                            <div class="reply-menu">
                                                <span class="pull-right" th:text="${#dates.format(comment.gmtCreate, 'yyyy-MM-dd HH:mm')}"></span>
                                            </div>
                                        </div>
                                    </div>-->
                                <div class="col-lg-12">
                                    <input type="text" class="form-control" placeholder="评论一下..." th:id="${'input-'+comment.id}">
                                    <botton class="btn btn-success pull-right" type="button" onclick="comment(this)" th:data-id="${comment.id}">评论</botton>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <!--回复编辑-->
                <h4>提交回复</h4>
                <hr class="col-lg-12 comment-sp">
                <div class="col-lg-12" id="comment-edit">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded" th:src="${session.user!=null ? session.user.avatarUrl : '/images/default-avatar.png'}" src="https://avatars.githubusercontent.com/u/56257333?s=400&v=4" alt="avatar">
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <span th:text="${session.user!=null ? session.user.name : '匿名用户'}"></span>
                            </h5>
                        </div>
                    </div>
                    <input type="hidden" id="question-id" th:value="${question.id}">
                    <textarea class="form-control comment" rows="6" id="comment-content"></textarea>
                    <button type="button" class="btn btn-success btn-publish" onclick="postComment()">回复</button>
                </div>
            </div>
        </div>
        <!-- 右侧边栏 -->
        <div class="col-lg-3 col-md-12">
            <div>
                <h4>发起人</h4>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${question.user.avatarUrl}" src="https://avatars.githubusercontent.com/u/56257333?s=400&v=4" alt="avatar">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span th:text="${question.user.name}"></span>
                        </h5>
                    </div>
                </div>
            </div>
            <hr class="col-lg-12">
            <!--推荐内容-->
            <div>
                <h4>推荐内容</h4>
                <img src="/images/Desert.jpg" alt="沙漠" class="img-thumbnail question-recommend" width="100%">
            </div>
            <hr class="col-lg-12">
            <div>
                <h4>相关问题</h4>
                <ul class="question-related">
                    <li th:each="relatedQuestion : ${relatedQuestions}">
                        <a th:href="@{'/question/'+${relatedQuestion.id}}" th:text="${relatedQuestion.title}"></a>
                    </li>
                </ul>
            </div>
            <hr class="col-lg-12">
            <div>
                <h4>侧边栏广告</h4>
                <ul class="question-related">
                    <li th:if="${session.adPosMap.SIDE!=null && #lists.size(session.adPosMap.SIDE)!=0}"
                        th:each="ad : ${session.adPosMap.SIDE}">
                        <a th:href="${ad.url}" th:text="${ad.title}" target="_blank"></a>
                    </li>
                    <li th:if="${session.adPosMap.SIDE==null || #lists.size(session.adPosMap.SIDE)==0}">
                        <a href="" target="_blank">Google AdSense</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div th:insert="footer :: foot"></div>

</body>
</html>